/* color-layout.css */

.color-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Adjust spacing between each container */
}

.color-swatch {
  width: 80px;
  height: 80px;
}

.color-info {
  margin-left: 10px; /* Adjust spacing between color box and text */
}
