/* color-layout.css */

body {
  background-color: #1e1e1e;
}
.figma-button-container {
  display: block;
  margin: 0 auto; /* Center the button */
  width: 960px; /* Set width */
  height: 400px; /* Set height */
  overflow:hidden; /* Hide overflow */
  margin-bottom: 60px; /* Adjust spacing between button and color container */
}

.dataContainer {
  display: block;

  align-items: center;
  margin-bottom: 20px; /* Adjust spacing between each container */
}

.color-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 48px; /* Adjust spacing between each container */;
  margin: 0 auto; /* Center the container */
  margin-bottom: 10px; /* Adjust spacing between each container */
  width: 960px; /* Set minimum width */

}

.color-section {
  display: flex; /* Make sections run horizontally */
  flex-wrap: wrap; /* Allow sections to wrap to the next line */
  flex-direction: column; /* Stack items vertically within each section */
}

.section-label {
  margin-bottom: 8px; /* Adjust spacing between each section label */
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}

.section-container {
  margin-bottom: 20px; /* Adjust spacing between each section */
  display:flex;
  flex-wrap: wrap;
}

.color-box-container {
  margin-bottom: 48px; /* Adjust spacing between each box */
  margin-right:48px; /* Adjust spacing between each color box */
}

.color-swatch {
  width: 144px;
  height: 144px;
  border-radius: 8px;
}

.detail-label {
  margin: 8px 0; /* Adjust spacing between color box and text */
  margin-bottom: 10px; /* Adjust spacing between each section label */
  font-family: 'helvetica', sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #ffffff;
}
